@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-pink:  #f21063;
}
.container-app{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}